<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title> Admin | Register</title>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Libraries -->
    <link rel="stylesheet" th:href="@{/stisla-master/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/stisla-master/node_modules/@fortawesome/fontawesome-free/css/all.css}">
    <link rel="stylesheet" th:href="@{/stisla-master/node_modules/bootstrap-social/bootstrap-social.css}">
    <!-- CSS Libraries -->
    <!-- <link rel="stylesheet" th:href="@{/stisla-master/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">-->
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/stisla-master/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/stisla-master/assets/css/components.css}">
</head>
<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="login-brand">
                        <img th:src="@{/stisla-master/assets/img/stisla-fill.svg}" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>
                    <div class="card card-primary">
                        <div class="card-header"><h4>Register</h4></div>
                        <div th:if="${error}">
                            <p class="alert alert-danger" th:text="${error}"></p>
                        </div>
                        <div class="card-body">
                            <form method="post" th:object="${adminDto}" th:action="@{/register}">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="first_name">First Name</label>
                                        <input id="first_name" type="text" class="form-control" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''" th:field="*{firstName}" name="first_name" autofocus>
                                        <div class="invalid-feedback" th:errors ="*{firstName}">
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="last_name">Last Name</label>
                                        <input id="last_name" type="text" class="form-control" name="last_name" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''" th:field="*{lastName}">
                                        <div class="invalid-feedback" th:errors ="*{lastName}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="email">Full Name</label>
                                        <input id="fullName" type="text" class="form-control" name="fullName" th:field="*{fullName}" th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid' : ''">
                                        <div class="invalid-feedback" th:errors ="*{fullName}">
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="email">Email</label>
                                        <input id="email" type="email" class="form-control" name="email" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
                                        <div class="invalid-feedback" th:errors ="*{email}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="password" class="d-block">Password</label>
                                        <input id="password" type="password" class="form-control"  name="password"  th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''">
                                        <div class="invalid-feedback" th:errors ="*{password}">
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="password2" class="d-block">Password Confirmation</label>
                                        <input id="password2" type="password" class="form-control" name="confirmPassword" th:field="*{confirmPassword}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; Stisla 2018
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script th:src="@{/stisla-master/node_modules/jquery/dist/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script th:src="@{/stisla-master/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/stisla-master/node_modules/jquery.nicescroll/dist/jquery.nicescroll.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script th:src="@{/stisla-master/assets/js/stisla.js}"></script>
<script th:src="@{/stisla-master/node_modules/datatables/media/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/stisla-master/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>

<script th:src="@{/stisla-master/node_modules/chart.js/dist/Chart.min.js}"></script>
<!-- JS Libraies -->

<!-- Template JS File -->
<script th:src="@{/stisla-master/assets/js/scripts.js}"></script>
<script th:src="@{/stisla-master/assets/js/custom.js}"></script>
</body>
</html>