<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Admin | Reset Password</title>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Libraries -->
    <link rel="stylesheet" th:href="@{/stisla-master/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/stisla-master/node_modules/@fortawesome/fontawesome-free/css/all.css}">
    <link rel="stylesheet" th:href="@{/stisla-master/node_modules/bootstrap-social/bootstrap-social.css}">
    <!-- CSS Libraries -->
    <!-- <link rel="stylesheet" th:href="@{/stisla-master/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">-->
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/stisla-master/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/stisla-master/assets/css/components.css}">
</head>
<body>

<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <img th:src="@{/stisla-master/assets/img/stisla-fill.svg}" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>

                    <div class="card card-primary">
                        <div th:if="${success}" class="alert alert-success alert-dismissible show fade">
                            <div class="alert-body">
                                <button class="close" data-dismiss="alert">X</button>
                                <b>Success ! </b>
                                <p th:text="${success}"></p>
                            </div>
                        </div>
                        <div th:if="${errors}" class="alert alert-danger alert-dismissible show fade">
                            <div class="alert-body">
                                <button class="close" data-dismiss="alert">X</button>
                                <b>Errors ! </b>
                                <p th:text="${errors}"></p>
                            </div>
                        </div>
                        <div class="card-header"><h4>Reset Password</h4></div>
                        <div class="card-body">
                            <p class="text-muted">Reset Your Password In Here</p>
                            <form method="post" th:action="@{/reset-password}" th:object="${adminPassword}">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email" tabindex="1" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                           required autofocus>
                                    <div class="invalid-feedback" th:errors ="*{email}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Old Password</label>
                                    <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator" name="oldPassword" th:field="*{oldPassword}" th:classappend="${#fields.hasErrors('oldPassword')} ? 'is-invalid' : ''" tabindex="2" required>
                                    <div class="invalid-feedback" th:errors ="*{oldPassword}">
                                    </div>
                                    <div id="pwindicator" class="pwindicator">
                                        <div class="bar"></div>
                                        <div class="label"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password-confirm">New Password</label>
                                    <input id="password-confirm" type="password" class="form-control" name="newPassword" th:field="*{newPassword}" th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''" tabindex="2" required>
                                    <div class="invalid-feedback" th:errors ="*{newPassword}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; Stisla 2018
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script th:src="@{/stisla-master/node_modules/jquery/dist/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script th:src="@{/stisla-master/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/stisla-master/node_modules/jquery.nicescroll/dist/jquery.nicescroll.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script th:src="@{/stisla-master/assets/js/stisla.js}"></script>
<script th:src="@{/stisla-master/node_modules/datatables/media/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/stisla-master/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>

<script th:src="@{/stisla-master/node_modules/chart.js/dist/Chart.min.js}"></script>
<!-- JS Libraies -->

<!-- Template JS File -->
<script th:src="@{/stisla-master/assets/js/scripts.js}"></script>
<script th:src="@{/stisla-master/assets/js/custom.js}"></script>
</body>
</html>