<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:replace = "~{fragments::header}">
<body>
<!-- Section: Design Block -->
    <section class="background-radial-gradient overflow-hidden">
      <!--  -->

      <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            <h1
              class="my-5 display-5 fw-bold ls-tight"
              style="color: hsl(218, 81%, 95%)"
            >
              Mari Kita Cegah Stunting<br />
              <span style="color: hsl(218, 100%, 45%)"
                >Bersama Universitas Bina Insani</span
              >
            </h1>
            <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 95%)">
              Mendorong pencegahan stunting dapat membawa perubahan paradigma
              masyarakat terkait pentingnya gizi dan perawatan anak-anak.
              Kesadaran masyarakat tentang dampak positif pencegahan stunting
              dapat menciptakan lingkungan yang mendukung pertumbuhan optimal.
            </p>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div
              id="radius-shape-1"
              class="position-absolute rounded-circle shadow-5-strong"
            ></div>
            <div
              id="radius-shape-2"
              class="position-absolute shadow-5-strong"
            ></div>

            <div class="card bg-glass">
              <div class="card-body px-4 py-5 px-md-5">
                <div th:if="${success}">
                  <p class="alert alert-success" th:text="${success}"></p>
                </div>
                <div th:if = "${param.error}" class="alert alert-danger text-center">
                  Invalid username or password
                </div>
                <div th:if="${param.logout}" class="alert alert-success text-center">
                  You have been Logged out !
                </div>
                <form method="post" th:action="@{/do-login}">
                  <!-- Email input -->
                  <div class="form-floating">
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      id="floatingInput"
                      placeholder="name@example.com"
                    />
                    <label for="floatingInput">Email address</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-floating mt-3">
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      id="floatingInput2"
                      placeholder="Your Password Here"
                    />
                    <label for="floatingInput2">Password</label>
                  </div>
                  <!-- Submit button -->
                  <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-primary mb-4">
                      Sign In
                    </button>
                  </div>
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>
                      I Don't Have Account
                      <a style="font-size: 15px" th:href="@{/register}">
                        Sign up
                      </a>
                      Or
                      <a style="font-size: 15px" th:href="@{/reset-password}">
                        Reset Password
                      </a>
                    </p>
                    <button
                      type="button"
                      class="btn btn-link btn-floating mx-1"
                    >
                      <i class="fab fa-facebook-f"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-link btn-floating mx-1"
                    >
                      <i class="fab fa-google"></i>
                    </button>

                    <button
                      type="button"
                      class="btn btn-link btn-floating mx-1"
                    >
                      <i class="fab fa-twitter"></i>
                    </button>

                    <button
                      type="button"
                      class="btn btn-link btn-floating mx-1"
                    >
                      <i class="fab fa-github"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div th:replace="~{fragments::js}"></div>
  </body>
</html>
